.popup__error {
  position: absolute;
  top: calc(100% + 1px); /*3px по фигме при line-height: normal*/
  left: 0;
  display: none;
  margin-top: 5px;
  width: 100%;
  opacity: 0;
  color: #F00;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 0.9; /* normal по фигме, но тогда некрасиво смотрятся ошибки в 2 строки */
  transition: opacity 0.3s;
}

.popup__error_visible {
  z-index: 1;
  display: block;
  opacity: 1;
}