.popup__image {
  display: block;
  max-width: 100%;
  max-height: calc(540 / 720 * 100dvh);
  object-fit: cover;
  background-color: #c4c4c4;
}

.popup__image_error-loading {
  min-width: 200px;
  height: 200px;
}
